[submodule "cog-llama-template"]
	path = cog-llama-template
	url = https://github.com/denverbaumgartner/cog-llama-template.git
[submodule "autosql/autosql/eval/test-suite-sql-eval"]
	path = autosql/autosql/eval/test-suite-sql-eval
	url = https://github.com/taoyds/test-suite-sql-eval.git
[submodule "autosql/autosql/eval/TestSuiteEval"]
	path = autosql/autosql/eval/TestSuiteEval
	url = https://github.com/ruiqi-zhong/TestSuiteEval.git
